<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    {% for nav in site.data.navigation %}
                    <li>
                        <a href="{{ nav.url }}">{{ nav.title }}</a>
                    </li>
                    {% if forloop.last != true %}
                    <li class="footer-menu-divider">&sdot;</li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4 copyright text-muted small">
                Copyright &copy; {{ site.title }} All Rights Reserved
            </div>
        </div>
    </div>
</footer>
